<?xml version="1.0"?>
<configuration>
   <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="Elucidate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      </sectionGroup>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="Elucidate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
   </configSections>
   <!-- Stick the namespaces in .. this is supposed to allow the intellisense to work ;-) -->
   <!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">-->
      <nlog autoReload="true">
         <variable name="LogDir" value="${specialfolder:folder=CommonApplicationData}/Elucidate/Logs"/>
      <targets async="true">
         <target name="file" type="File" layout="${longdate}[${threadid}] ${level:uppercase=true} ${logger}: ${message} ${exception:format=ToString}" fileName="${LogDir}/Elucidate.log" archiveFileName="${LogDir}/Elucidate.{#}.log" archiveAboveSize="1048576" archiveNumbering="Rolling" maxArchiveFiles="5">
         </target>
         <target name="method" type="MethodCall" className="Elucidate.Elucidate, Elucidate" methodName="LogMethod">
            <parameter layout="${level:uppercase=true}"/>
            <parameter layout="${longdate}[${threadid}] ${level:uppercase=true} ${logger}: ${message} ${exception:format=ToString}"/>
         </target>
      </targets>

      <rules>
         <logger name="*" minlevel="Trace" writeTo="file"/>
         <logger name="*" minlevel="Trace" writeTo="method"/>
      </rules>
   </nlog>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
   </startup>
   <userSettings>
      <Elucidate.Properties.Settings>
         <setting name="SnapRAIDFileLocation" serializeAs="String">
            <value>c:\SnapRAID\SnapRAID.exe</value>
         </setting>
         <setting name="ConfigFileLocation" serializeAs="String">
            <value>c:\SnapRAID\SnapRAID.config</value>
         </setting>
         <setting name="ConfigFileIsValid" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="UseVerboseMode" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="UseGUIMode" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="FindByNameInSync" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="HiddenFilesExcluded" serializeAs="String">
            <value>False</value>
         </setting>
         <setting name="WindowLocation" serializeAs="String">
            <value/>
         </setting>
         <setting name="UpdateRequired" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="RunWithoutCapture" serializeAs="String">
            <value>False</value>
         </setting>
      </Elucidate.Properties.Settings>
   </userSettings>
   <applicationSettings>
      <Elucidate.Properties.Settings>
         <setting name="UseWindowsSettings" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="MaxNumberOfRealTimeLines" serializeAs="String">
            <value>1000</value>
         </setting>
      </Elucidate.Properties.Settings>
   </applicationSettings>
</configuration>
