<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Elucidate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Elucidate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!-- Stick the namespaces in .. this is supposed to allow the intellisense to work ;-) -->
  <!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">-->
  <nlog autoReload="true" throwConfigExceptions="true">
    <variable name="LogDir" value="${specialfolder:folder=CommonApplicationData}/Elucidate/logs" />
    <targets>
      <target name="file" type="File" fileName="${LogDir}/${date:format=yyyyMMdd}.log"
              archiveFileName="${LogDir}/{###}.log" archiveAboveSize="1048576"
              archiveNumbering="DateAndSequence" maxArchiveFiles="30"
              layout="${longdate}[${threadid}] ${level:uppercase=true} ${logger}: ${message} ${exception:format=ToString}">
      </target>
      <target name="method" type="AsyncWrapper" queueLimit="1000" batchSize="100" timeToSleepBetweenBatches="50">
        <target name="methodInner" type="MethodCall" className="Elucidate.ElucidateForm, Elucidate" methodName="LogMethod">
          <parameter layout="${level:uppercase=true}" />
          <parameter layout="${longdate}[${threadid}] ${level:uppercase=true} ${logger}: ${message} ${exception:format=ToString}" />
        </target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file" />
      <logger name="*" minlevel="Trace" writeTo="method" />
    </rules>
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <userSettings>
    <Elucidate.Properties.Settings>
      <setting name="SnapRAIDFileLocation" serializeAs="String">
        <value>c:\SnapRAID\SnapRAID.exe</value>
      </setting>
      <setting name="ConfigFileLocation" serializeAs="String">
        <value>c:\SnapRAID\SnapRAID.config</value>
      </setting>
      <setting name="ConfigFileIsValid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseVerboseMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseGUIMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FindByNameInSync" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HiddenFilesExcluded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdateRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunWithoutCapture" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>Office2010Silver</value>
      </setting>
      <setting name="DebugLoggingEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogFileDirectory" serializeAs="String">
        <value>logs</value>
      </setting>
    </Elucidate.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Elucidate.Properties.Settings>
      <setting name="UseWindowsSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxNumberOfRealTimeLines" serializeAs="String">
        <value>1000</value>
      </setting>
    </Elucidate.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetZip" publicKeyToken="6583c7c814667745" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.0.0" newVersion="1.11.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
