<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      autoReload="true" 
      throwConfigExceptions="true">
    <variable name="LogDir" value="${specialfolder:folder=CommonApplicationData}/Elucidate/logs"/>
    <!-- there is a typo on this line. There should be additional '}'s at the end of the format string to close the onexception block, 
     but it appears there is an error in NLog's parser that causes it to get printed out instead of interpreted as a part of the format string. -->
    <variable name="defaultLayout" value="${longdate:universalTime=true} [${threadid:padding=2}] ${level:uppercase=true:padding=5}: ${logger}: ${message} ${onexception:${newline}${exception:Format=ToString, Data :separator=${newline}"/>
    <extensions>
        <add assembly="Exceptionless.NLog"/>
    </extensions>
    <targets>
        <target name="file" type="File" layout="${defaultLayout}" fileName="${LogDir}/Elucidate.log" archiveFileName="${LogDir}/Elucidate.{#}.log" archiveAboveSize="1048576" archiveNumbering="DateAndSequence" maxArchiveFiles="30"/>
        <target name="RTB" xsi:type="RichTextBox" 
            layout="${defaultLayout}"
            controlName="logRTB"
            formName="LiveLog"
            autoScroll="true"
            maxLines="1000"
            useDefaultRowColoringRules="true"
            allowAccessoryFormCreation="true"
            messageRetention="None"
            supportLinks="false">
        </target>
        <target type="Exceptionless" name="exceptionless" apiKey="25cw8i6aTNOb0EQFXeqHPNgQxiJBtFS9YRMxeh9r"/>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="file"/>
        <logger name="*" minlevel="Trace" writeTo="RTB"/>
        <logger name="*" minlevel="Error" writeTo="exceptionless"/> <!--Error and above auto sent to Exceptionless -->
    </rules>
</nlog>
