<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AeroWizard" version="2.0.6" targetFramework="net451" />
  <package id="GroupControls" version="1.4.1" targetFramework="net451" />
  <package id="NLog" version="3.2.0.0" targetFramework="net451" />
  <package id="TaskScheduler" version="2.3.0" targetFramework="net451" />
  <package id="TaskSchedulerEditor" version="2.3.0" targetFramework="net451" />
  <package id="TimeSpan2" version="2.0.4" targetFramework="net451" />
</packages>