<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
    >

    <?define MgtSource=$(sys.SOURCEFILEDIR)..\Elucidate\bin\Release ?>

    <Fragment>

        <DirectoryRef Id="ClientDIR" />

        <PropertyRef Id="NETFRAMEWORK40FULLINSTALLROOTDIR64" />

        <util:CloseApplication CloseMessage="yes" Id="CloseElucidate" Target="Elucidate.exe" RebootPrompt="no"/>

        <ComponentGroup Id="Client" Directory="ClientDIR">
            <Component Id="Client" Guid="5EBF3F29-9CF1-44FE-A94C-CC1B4FE09367" >
                <File Id="InstallerIcon" Name="Elucidate.ico" Source="$(sys.SOURCEFILEDIR)..\Elucidate\Elucidate.ico" />
                <File Id="Elucidate.exe" Name="Elucidate.exe" Source="$(var.MgtSource)\Elucidate.exe" KeyPath="yes" >
                    <netfx:NativeImage Id="ngen.Elucidate" Platform="all" Priority="1" AppBaseDirectory="ClientDIR" />
                </File>
            </Component>
            <!-- Event Source creation for all OS with .NET 4 Full -->
            <Component Id="CreateEventSource64BitFullNet4"
                       Guid="EED5AB36-9928-49D4-97CC-11B59F906CEC" KeyPath="yes">
                <Condition><![CDATA[NETFRAMEWORK40FULLINSTALLROOTDIR64 AND VersionNT64]]></Condition>
                <CreateFolder />
                <!-- Create an Event Source -->
                <Util:EventSource
                    xmlns:Util="http://schemas.microsoft.com/wix/UtilExtension"
                    Name="Elucidate"
                    Log="Application"
                    EventMessageFile="[NETFRAMEWORK40FULLINSTALLROOTDIR64]EventLogMessages.dll" />
            </Component>
            <Component>
                <File Source="$(var.MgtSource)\Elucidate.exe.config" KeyPath="yes" />
            </Component>

            <Component>
                <File Source="$(var.MgtSource)\AlphaFS.dll" KeyPath="yes" >
                    <netfx:NativeImage Id="ngen.AlphaFS" Platform="all" Priority="2" AppBaseDirectory="ClientDIR" />
                </File>
            </Component>
            <Component>
                <File Source="$(var.MgtSource)\ByteSize.dll" KeyPath="yes" >
                    <netfx:NativeImage Id="ngen.ByteSize" Platform="all" Priority="2" AppBaseDirectory="ClientDIR" />
                </File>
            </Component>
            <Component>
                <File Source="$(var.MgtSource)\CommandLine.dll" KeyPath="yes" >
                    <netfx:NativeImage Id="ngen.CommandLine" Platform="all" Priority="2" AppBaseDirectory="ClientDIR" />
                </File>
            </Component>
            <Component>
                <File Source="$(var.MgtSource)\Exceptionless.dll" KeyPath="yes" >
                    <netfx:NativeImage Id="ngen.Exceptionless" Platform="all" Priority="2" AppBaseDirectory="ClientDIR" />
                </File>
            </Component>
            <Component>
                <File Source="$(var.MgtSource)\Exceptionless.NLog.dll" KeyPath="yes" >
                    <netfx:NativeImage Id="ngen.Exceptionless.NLog" Platform="all" Priority="2" AppBaseDirectory="ClientDIR" />
                </File>
            </Component>
            <Component>
                <File Source="$(var.MgtSource)\Exceptionless.Windows.dll" KeyPath="yes" >
                    <netfx:NativeImage Id="ngen.Exceptionless.Windows" Platform="all" Priority="2" AppBaseDirectory="ClientDIR" />
                </File>
            </Component>
            <Component>
                <File Source="$(var.MgtSource)\JCS.ToggleSwitch.dll" KeyPath="yes" >
                    <netfx:NativeImage Id="ngen.JCS.ToggleSwitch" Platform="all" Priority="2" AppBaseDirectory="ClientDIR" />
                </File>
            </Component>

            <Component>
                <File Source="$(var.MgtSource)\Krypton Docking.dll" KeyPath="yes" >
                    <netfx:NativeImage Id="ngen.Docking" Platform="all" Priority="2" AppBaseDirectory="ClientDIR" />
                </File>
            </Component>
            <Component>
                <File Source="$(var.MgtSource)\Krypton Navigator.dll" KeyPath="yes" >
                    <netfx:NativeImage Id="ngen.Navigator" Platform="all" Priority="2" AppBaseDirectory="ClientDIR" />
                </File>
            </Component>
            <Component>
                <File Source="$(var.MgtSource)\Krypton Toolkit.dll" KeyPath="yes" >
                    <netfx:NativeImage Id="ngen.Toolkit" Platform="all" Priority="2" AppBaseDirectory="ClientDIR" />
                </File>
            </Component>
            <Component>
                <File Source="$(var.MgtSource)\NLog.dll" KeyPath="yes" >
                    <netfx:NativeImage Id="ngen.NLog" Platform="all" Priority="2" AppBaseDirectory="ClientDIR" />
                </File>
            </Component>


            <!-- Text and help files-->
            <Component>
                <File Source="$(sys.SOURCEFILEDIR)GPLv2.rtf" KeyPath="yes" />
            </Component>
            <Component>
                <File Source="$(sys.SOURCEFILEDIR)KryptonLicense.txt" KeyPath="yes" /> 
            </Component>
            <Component>
                <File Source="$(var.MgtSource)\wyDay.Controls\License.txt" KeyPath="yes" />
            </Component>
        </ComponentGroup>

    </Fragment>
</Wix>
